@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{height: 100%;}

body{
    width: 100%;
    height: 100%;
    color: red;
    background: gray;
    font-size: 1em;
    font-family: "Segoe UI",sans-serif;
    line-height: 135%;
}

a{
    color: blue;
    text-decoration: underline;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover{
    color: #482;
    text-decoration: underline;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active{color: #gray;}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* Selection block*/

::selection {background:#F58b8b; color: #fff}
::-moz-selection {background:#F58b8b; color: #fff}

header,footer{
    width: 98%;
    background-color: #fff;
    min-height: 50px;
    float: left;
}

header{
    border-bottom: 2px solid silver;
    padding: 1%;
}

.clear{clear: both;}

#logo{
    font-size: 2em;
    font-family: fantasy;
}
.contact{
    font-size: 1.5em;
    font-family: serif;
    margin-left: 10px;
}

.right{
    float: right;
}
.left{
    float: left;
}

#page-wrap:after{
    content: "";
    display: block;
}

footer #page-wrap:after{height: 10px;}

#page-wrap{
    min-height: 94%;
    margin-bottom: -10px;
}

footer{
    border-top: 2px solid silver;
    margin-top: 10px;
    padding: 1%;
    padding-bottom: 2%;
}
footer img {width: 10%; float: left; margin-right: 10px;}
input{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left:20px;
}
input:focus{
    border: 2px solid #f58b8b;
}
#menu{
    color: #666;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}
#menu hr {
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0;
}

#menuHrefs a {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #626262;
}
#menuHrefs a:hover{
    background-color: #cdcdcd;
}
